* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    width: 60%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    border: 5px solid #000;
    background-color: #fc8019;
    border-radius: 20px;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-style: italic;
}

.col {
    width: 40%;
    text-align: center;
    padding: 10px;
}

.col1 {
    width: 60%;
    padding: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 15px;
    margin: 20px 0;
}

button {
    width: 50%;
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
}

@media (min-width: 280px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .col,.col1 {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .container {
        width: 70%;
        margin: auto;
    }

    .col {
        width: 40%;
    }

    .col1 {
        width: 60%;
    }

    img {
        max-width: 80%;
    }
}

@media (min-width: 1020px) {
    .container {
        width: 60%;
        margin: auto;
    }

    .col {
        width: 40%;
    }

    .col1 {
        width: 60%;
    }
}